.ListItem-fullbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 84px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0px 25px 0px 25px;
  box-sizing: border-box;
}
.ListItem-content {
  display: flex;
  flex-direction: row;
  height: 50%;
}
.ListItem-firstbox {
  display: flex;
  justify-content: center;
  /* background-color: aquamarine; */
}
.ListItem-secondbox{
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-between;
  margin: 0 10px 0 15px;
  text-align: left;
  align-items: flex-start;
  box-sizing: border-box;
}
.ListItem-text-first p{
  flex: 1;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
.ListItem-text-second {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ListItem-text-second p {
  margin: 0;
  font-size: 14px;
  line-height: normal; 
  padding-left: 8px;
  max-width: 190px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ListItem-addition {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 50%;
  /* margin-left: 20%; */
  /* background-color: aqua; */
}
.ListItem-addition-date {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
}
.ListItem-addition div:last-child {
  display: flex;
  justify-content: center;
}