.StudentList-fullbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 53px);
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  overflow: hidden; 
}
.StudentList-scrollable {
  width: 100%;
}
.StudentList-name {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding: 0px 23px 0px 25px;
  white-space : nowrap;
  box-sizing: border-box;
}
.StudentList-name p:first-child {
  font-size: 20px;
  font-weight: 700;
}
.StudentList-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: 0px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 4px;
  text-align: right;
}
.StudentList-select option {
  border-radius: 8px;
  border: 1px solid var(--BL, #000);
  background: var(--W, #FFF);
}

.StudentList-listbox {
  display: flex;
  width: 100%;
}