.SignupInform-fullbox {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  width: 100%;
  max-height: calc(100dvh - 54px);
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: white;
}
.SignupInform-modalbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.SignupInform-contentbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px 25px 0px 25px;
  box-sizing: border-box;
}
.SignupInform-textbox {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 0px;
  color: var(--bb, #1D4C5C);
}
.SignupInform-emailbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px 0px 20px 0px;
  text-align: left;
  box-sizing: border-box;
}
.SignupInform-nicknamebox {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}
.SignupInform-inputbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}
.SignupInform-nicknamebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 45px;
  border-radius: 8px;
  color: var(--W, #FFF);
  font-size: 15px;
  font-weight: 600;
  background: #35BA95;
  box-sizing: border-box;
}

.SignupInform-schoolbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px 0px 70px 0px;
  text-align: left;
  box-sizing: border-box;
}
.SignupInform-mail {
  color: #ACACAC;
  font-size: 1rem;
  font-weight: 400;
}
.SignupInform-underline {
  width: 100%;
  color: black;
  border-bottom: 1.5px solid black;
}
.SignupInform-underline-nickname {
  width: 72%;
  color: black;
  border-bottom: 1.5px solid black;
}
.SignupInform-nickname-guide {
  display: none;
  height: 30px; /* 가이드 텍스트 div 크기 조절 */
  margin-top: 5px; /* 원하는 여백 조절 */
}
.SignupInform-nickname-success {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--B, #1985C0);
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 0.85rem;
}
.SignupInform-nickname-warning {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #FF4B33;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 0.85rem;
}
.SignupInform-input {
  width: 80%;
  height: 35px;
  padding: 5px 0px 0 10px;
  border-bottom: 1.5px solid black;
  font-size: 1rem;
  border: none;
  outline: none;
  color: #696969;
}
.SignupInform-school-search {
  display: flex;
  border-bottom: 1.5px solid black;
  width: 100%;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 0px 0px;
  padding: 0px 10px 3px 10px;
  box-sizing: border-box;
}
.SignupInform-school-search p {
  font-size: 1rem;
  line-height: 35px;
  color: #ACACAC;
}

.SignupInform-confirmbox-inactive {
  width: 100%;
  height: 61px;
  border-radius: 8px;
  background: #D7D7D7;
  text-decoration: none;
}
.SignupInform-confirmbox-active {
  width: 100%;
  height: 61px;
  border-radius: 8px;
  background: #35BA95;
  text-decoration: none;
}
.SignupInform-confirmbox-inactive p {
  color: var(--w, #FFF);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.SignupInform-confirmbox-active p {
  color: var(--w, #FFF);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}