.SignupInputInform-fullbox {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 759px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 0px 0px 0px;
  font-size: 5px;
}
.SignupInputInform-itembox {
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
  text-align: left;
}
.SignupInputInform-itembox p:last-child{
  color: #FF4B33;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  padding-left: 10px;
}
.SignupInputInform-inputbox {
  width: 360px;
  height: 35px;
  line-height: 35px;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid black;
  outline: 0;
  color: #696969;
  padding: 0px 0px 3px 10px;
}
.SignupInputInform-textbox {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
}
.SignupInputInform-school-search {
  display: flex;
  border-bottom: 1px solid black;
  width: 350px;
  height: 35px;
  margin-top: 13px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 3px 10px;

}
.SignupInputInform-school-search p {
  font-size: 1rem;
  line-height: 35px;
  color: #ACACAC;
}