/*채팅 창*/
.Mes-InitialScreen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Mes-InitialScreenBtn{
  width: 240px;
  height: 57px;
  flex-shrink: 0;
  background: url('../../assets/mes-chatbtn.svg') no-repeat center center;
  border: transparent;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 34px;
  cursor: pointer;

}

.Mes-Q {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  margin-top: 27px;
  align-items: flex-end;
  flex-direction: row;
  animation: scaleUp 0.5s both;
}

.Mes-message {
  display: inline-block;
  max-width: 222px;
  background-color: #FFF;
  border-radius: 16px 0px 16px 16px;
  border: 1px solid #D7D7D7;
  padding: 15px;
  align-self: flex-end;
  font-family: 'Pretendard';
  font-size: 13px;
  text-align: left;
  word-wrap: break-word;
}

.Mes-profile {
   display: inline-block;
   width: 34px;
   height: 34px;
   cursor: pointer;
 }
 
 .Mes-profile img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .Mes-A1{
  display: flex;
  align-self: flex-end;
  position: relative;
  margin-top: 29px;
  margin-bottom: 2px;
  margin-left: 0;
  animation: scaleUp 0.7s both;
 }

 .Mes-A2{
  margin-left: 10px;
  margin-top: 8px;
 }
 .Mes-name{
  color: var(--bb, #1D4C5C);
  text-align: left;
  font-family: Pretendard;
  font-size: 14px; 
  font-weight: 600;
  margin-bottom: 8px;
 }


 .Mes-answer {
  display: inline-block;
  max-width: 222px;
  word-wrap: break-word;
  border-radius: 0px 16px 16px 16px;
  background: var(--g, #35BA95);
  padding: 10px;
  color: var(--w, #FFF);
  font-family: Pretendard;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
 }


 .Mes-InputBox {
  display: flex;
  align-items: center;
  width: 288px;
  height: 42px;
  background: #FFFFFF;
  border-radius: 25px;
  border: 1px solid #D7D7D7;
  text-align: center;
  padding: 1px 15px 1px 15px;
  margin-left: 25px;
  margin-right: 8px;
}

.Mes-InputMessage {
  flex-grow: 1;
  height: 70%;
  border: none;
  outline: none;
  font-family: 'Pretendard';
  font-size: 14px;
}

.Mes-modalProfile {
  width: 130px;
   height: 130px;
 }

 .Mes-modalName {
  color: var(--bb, #1D4C5C);
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 600;
  margin-top: 22px;
 }
 .Mes-modalSchool {
  color: var(--gray-169, #696969);
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
 }

