.chat-topnav {
  width: 423px;
  height: 53px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}

 .person-icon {
   flex-grow: 1;
   text-align: center;
 }
