.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.Modal-contentBox {
  width: 340px;
  height: 393px;
  margin: 0 auto;
  border-radius: 16px;
  background: var(--w, #fff);
  animation: modal-show 0.3s;
  overflow: hidden;
}

.MessageModal-contentBox {
  width: 340px;
  height: 333px;
  margin: 0 auto;
  border-radius: 16px;
  background: var(--w, #fff);
  animation: modal-show 0.3s;
  overflow: hidden;
}

.Modal-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Modal-img1 {
  margin-bottom: 15.24px;
}

.Modal-img2 {
  margin-top: 25px;
}

.Modal-progressBar {
  width: 242px;
  height: 14px;
  border-radius: 30px;
  background: var(--gray-5-ee, #eee);
}

.Modal-progress {
  width: 50px;
  height: 100%;
  border-radius: 30px;
  background: var(--p, #eba1b8);
}

.DrawingModal-progress {
  width: 0%;
  height: 100%;
  border-radius: 30px;
  background: var(--p, #1985c0);
  animation: progressbar linear;
}

@keyframes progressbar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes moveLeftRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(192px);
  }
}

.Modal-gotoResult {
  margin-top: 23px;
  width: 298px;
  height: 52px;
  border-radius: 8px;
  border: none;
  background: var(--g, #35ba95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--w, #fff);
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.Modal-contentBox2 {
  width: 340px;
  height: 477px;
  margin: 0 auto;
  border-radius: 16px;
  background: var(--w, #fff);
  animation: modal-show 0.3s;
  overflow: hidden;
}

.Modal-close {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 13px;
  border-bottom: 2px solid var(--gray-4-e-3, #e3e3e3);
}

.Modal-closeBtn {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* slick-carousel dots 커스텀 */
.dots_custom {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
  padding: 0;
}

.dots_custom li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 6px;
  padding: 0;
}

.dots_custom li button {
  border: none;
  background: #d1d1d1;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 100%;
  padding: 0;
}

.dots_custom li.slick-active button {
  background-color: #e37354;
}

/* UsageModal css */
.UM-title {
  color: var(--bl, #000);
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  margin-right: 85px;
}

.UM-usage {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.UM-Img {
  position: relative;
  top: 50px;
}

.UM-arrow {
  cursor: pointer;
}

.UM-arrows {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.UM-step {
  margin-left: 90px;
  margin-right: 90px;
}

.UM-step4 {
  margin-left: 69px;
  margin-right: 69px;
}

/* NoticeModal css */
.NM-Img {
  position: relative;
  margin-top: 55px;
}

.NM-arrows {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NM-arrow {
  cursor: pointer;
  margin-right: 280px;
}

.Modal-SiginOut-contentBox {
  width: 340px;
  height: 302px;
  margin: 0 auto;
  border-radius: 16px;
  background: var(--w, #fff);
  animation: modal-show 0.3s;
  overflow: hidden;
}

.Modal-SiginOut-title {
  color: var(--BB, #1d4c5c);
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.Modal-SiginOut-content {
  color: var(--gray-169, #696969);
  text-align: center;
  line-height: 20px;
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 45px;
}

.Modal-SignOut-button {
  display: flex;
}

.Modal-SiginOut-cancel {
  color: var(--W, #fff);
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  background: var(--gray-3-d-7, #d7d7d7);
  display: flex;
  width: 134px;
  height: 43px;
  align-items: center;
  justify-content: center;
  margin-right: 21px;
  cursor: pointer;
}

.Modal-SiginOut-leave {
  color: var(--W, #fff);
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  background: var(--g, #35ba95);
  display: flex;
  width: 134px;
  height: 43px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
