.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.Modal-contentBox {
  width: 340px;
  height: 393px;
  margin: 0 auto;
  border-radius: 16px;
  background: var(--w, #FFF);
  animation: modal-show 0.3s;
  overflow: hidden;
}

.MessageModal-contentBox {
  width: 340px;
  height: 333px;
  margin: 0 auto;
  border-radius: 16px;
  background: var(--w, #FFF);
  animation: modal-show 0.3s;
  overflow: hidden;
}

.Modal-main {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 100%;
}

.Modal-close {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 10px;
}
.Modal-closeBtn {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Modal-img1{
  margin-bottom: 15.24px;
}

.Modal-img2{
  margin-top: 25px;
}

.Modal-progressBar {
  width: 242px;
  height: 14px;
  border-radius: 30px;
  background: var(--gray-5-ee, #EEE);
}

.Modal-progress {
  width: 0%;
  height: 100%;
  border-radius: 30px;
  background: var(--p, #EBA1B8);
  animation: progressbar 10s linear;
}

.DrawingModal-progress {
  width: 0%;
  height: 100%;
  border-radius: 30px;
  background: var(--p, #1985C0);
  animation: progressbar 10s linear;
}

@keyframes progressbar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.Modal-gotoResult{
  margin-top: 23px;
  width: 298px;
  height: 52px;
  border-radius: 8px;
  border:none;
  background: var(--g, #35BA95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--w, #FFF);
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.UM-contentBox {
  width: 340px;
  height: 393px;
  margin: 0 auto;
  border-radius: 16px;
  background: var(--w, #FFF);
  animation: modal-show 0.3s;
  overflow: hidden;
}

.dots_custom {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
  padding: 0;
}

.dots_custom li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 6px;
  padding: 0;
}

.dots_custom li button {
  border: none;
  background: #d1d1d1;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 100%;
  padding: 0;
}

.dots_custom li.slick-active button {
  background-color: #35BA95;
}

.UM-title{
  color: var(--bb, #1D4C5C);
  text-align: center;
  font-family: Pretendard;
  font-size: 19px;
  font-weight: 800;
  margin-bottom: 20px;
}

.UM-usage1 {
  text-align: left;
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 530;
  margin-left: 10px;
  line-height: 23px;
  padding: 5px;

}

.UM-slide{
  position: relative;
  height: 360px;
  padding: 0px 20px;
}

.UM-Input {
  height: 60px;
  width: 340px;
  bottom: 0px;
  left: 48%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  border-top: 1px solid #e3e3e3;
  transition: height 0.3s ease, bottom 0.3s ease;
  position: relative;
}

.UM-Img1 {
  position: absolute;
  left: 25px;
  top: 230px;
}

.UM-Img2 {
  margin-right: 50px;
  margin-top: 15px;
  opacity: 0; 
  animation: scaleUp 0.7s 2s forwards;
}


@keyframes scaleUp {
  0% {
    transform: scale(0.7);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.typing-demo {
  width: 190px;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 12px;
  margin-top: 68px;
  margin-left: 45px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}