.Result-Date {
   height: 43px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Pretendard';
   font-size: 14px;
}

.Result-Border-line {
   width: 100%;
   height: 13px;
   background: #EEEEEE;
}

.Result-Profile {
   height: 153px;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.Result-MyProfile {
   width: 74px;
   height: 74px;
   border-radius: 100px;
   background: #E3E3E3;
   margin-top: 24px;
}

.Result-Nickname {
   margin-top: 13px;
   font-family: 'Pretendard';
   font-size: 16px;
}

.Result-content {
   text-align: left;
   margin-left: 24px;
   margin-bottom: 11px;
}

.Result-box {
   box-sizing: border-box;
   width: 313px;
   height: 319px;
   border-radius: 25px;
   background: #FFF;
   box-shadow: 1px 3px 4px 5px rgba(0, 0, 0, 0.13);
}
.Result-center{
   display: flex;
   align-items: center;
   justify-content: center;     
}

.Result-send-result {
   display: flex;
   align-items: center;
   justify-content: center;   
   width: 344px;
   height: 61px;
   background: #6BD861;
   border-radius: 30px;
   font-family: 'Pretendard';
   font-size: 18px;
   color: #FFFFFF;
   border: none;
}

.Result-send-result:hover {
   border: 2px solid #4BAF4B;
 }
