.Result1-bg {
   position: relative;
   width: 423px;
   height: 694px;
   background: var(--g, #35BA95);
}
.Result1-clipboard {
   height: 633px;
   position: absolute;
   top: 23px;
   left: 0;
   right: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   background: url('../../assets/result-clipboard.svg') no-repeat center center;
}
.Result1-emotion {
   display: flex;
   margin-top: 57px;
   margin-bottom: 17px;
}
.Result1-chart {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 15px;
   margin-top: 20px;
   position: relative;
}
.R1-ChartBg {
   position: absolute;
   top: 0;
   left: 8%;
   width: 90%;
   height: 100%;
   z-index:2;
}
.Result1-chart .R1-BarChart {
   position: relative; 
   z-index: 1; 
}
.R1-Hp{
   color: var(--gray-169, #696969);
   font-family: Pretendard;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   position: absolute;
   bottom: 15px;
   left: 13%;
   z-index: 2; 

}
.R1-Gp {
   color: var(--gray-169, #696969);
   font-family: Pretendard;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   position: absolute;
   bottom: 15px;
   left: 85%;
   z-index: 2; 
}

.Result2-detail {
   display: flex;
   width: 423px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: var(--bb, #1D4C5C);
   font-family: Pretendard;
   font-size: 17px;
   font-weight: 700;
   margin-top: 55px;
}

.Result2-box{
   display: flex;
   justify-content: center;
   width: 340px;
   height: 370px;
   border-radius: 8px;
   border: 2px solid var(--gray-5-ee, #EEE);
   background: var(--w, #FFF);
   padding: 30px 0px 0px 0px;
   margin-top: 12px;
}

.Result3-keyword {
   display: flex;
   width: 423px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: var(--bb, #1D4C5C);
   font-family: Pretendard;
   font-size: 17px;
   font-weight: 700;
   margin-top: 55px;
}

.Result3-box{
   display: flex;
   justify-content: center;
   width: 340px;
   height: 370px;
   border-radius: 8px;
   border: 2px solid var(--gray-5-ee, #EEE);
   background: var(--w, #FFF);
   padding: 30px 0px 0px 0px;
   margin-top: 12px;
}

.Result4-summary {
   display: flex;
   width: 423px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: var(--bb, #1D4C5C);
   font-family: Pretendard;
   font-size: 17px;
   font-weight: 700;
   margin-top: 55px;
}

.Result4-box{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 340px;
   min-height: 200px;
   border-radius: 8px;
   border: 2px solid var(--gray-5-ee, #EEE);
   background: var(--w, #FFF);
   padding: 30px 0px 0px 0px;
   margin-top: 12px;
   padding: 50px 0px;
}

.Result4-box2 {
   display: flex;
   width: 257.833px;
   flex-direction: column;
   color: var(--bl, #000);
   text-align: center;
   font-family: Pretendard;
   font-size: 18px;
   font-weight: 400;
   letter-spacing: 1px;
}

.Result5-viewChat {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: var(--gray-2-ac, #ACACAC);
   text-align: center;
   font-family: Pretendard;
   font-size: 14px;
   font-weight: 500;
   margin-top: 56px;
}