.SR-endBtn {
  width: 340px;
  height: 61px;
  flex-shrink: 0;
  border-radius: 8px;
  border: none;
  background: var(--g, #35BA95);
  color: var(--w, #FFF);
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  margin-top: 17px;
  margin-bottom: 10px;
  cursor: pointer;
}

.SR-tooltip {
  position: relative;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 330px;
  border-radius: 1em;
  border: none;
  background: var(--bb, #1D4C5C);
  padding: 5px;
  color: var(--w, #FFF);
  font-family: Pretendard;
  font-size: 13px;
  font-weight: 500;
}
.SR-tooltip:after{
  content: '';
 position: absolute;
 bottom: 0;
 left: 50%;
 width: 0;
 height: 0;
 border: 15px solid transparent;
 border-top-color: #1D4C5C;
 border-bottom: 0;
 margin-left: -15px;
 margin-bottom: -13px;
}

.SR-closeBtn{
  border:none;
  background: none;
  color: #FFF;
  cursor: pointer;
  margin-left: 5px;
}